.measures{
    display: flex;
    flex-wrap: wrap;
}

.measures > .measure {
    border-right: 2px solid black;
    text-align: left;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.measure:first-child, .measure:nth-child(4n + 1){
    border-left: 2px solid black;
}

.track{
    display: flex;
    height: 2rem;
    overflow: visible;
}

.track:not(:last-child){
    border-bottom: 1px dotted gray;
}

.track > * {
    flex: 1;
    box-sizing: border-box;
    align-content: flex-start;
    align-self: flex-start;
    height: 2rem;
    flex-shrink: 0;
    overflow: visible;
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
}

.rangeContainer{
    width: 100%;
    height: 15px;
    position: relative;
}

.rangeValue{
    height: 100%;
    background-color: green;
    display: inline-block;
    transition-timing-function: linear;
    transition-property: width;

}

